@import url('reset.css');

.container {
  padding: 20px;
}

h1 {
  font-size: 48px;
  padding-bottom: 40px;
}

a {
  font-size: 32px;
  line-height: 1.1;
  padding-bottom: 20px;
}

a:hover {
  color: blue;
  transition: color 0.3s;
}