@import url("reset.css");

body {
  background-color: bisque;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.header {
  margin-bottom: 40px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.example-item {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 20px;
  background-color: gray;
  margin-bottom: 20px;
}

.example-item::before {
  position: absolute;
  top: -20px;
  left: 55px;
}

.example {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  background-color: blue;
  transition: transform 0.3s;
}


.example-01:hover {
  transform: scale(2);
}

.example-02:hover {
  transform: rotate(45deg);
}

.example-03:hover {
  transform: translate(0, -20px);
}

.example-04:hover {
  transform: skew(20deg, 10deg);
}

.example-05:hover {
  transform: matrix(0.3, 0.2, 0.1, 0.4, 15, 20);
}

.example-06:hover {
  transform: rotate3d(20, 15, 30, 65deg);
}

.example-07:hover {
  transform: translate3d(20px, 20px, 40px);
}

.example-item-01::before {
  position: absolute;
  content: "scale";
  top: -20px;
  left: 55px;
}

.example-item-02::before {
  position: absolute;
  content: "rotate 45deg";
  top: -20px;
  left: 40px;
}

.example-item-03::before {
  position: absolute;
  content: "translate(0, -20px)";
  top: -20px;
  left: 20px;
}

.example-item-04::before {
  position: absolute;
  content: "skew";
  top: -20px;
  left: 55px;
}

.example-item-05::before {
  position: absolute;
  content: "matrix";
  top: -20px;
  left: 55px;
}

.example-item-06::before {
  position: absolute;
  content: "rotate 3D";
  top: -20px;
  left: 55px;
}

.example-item-07::before {
  position: absolute;
  content: "translate 3D";
  top: -20px;
  left: 55px;
}




.car {
  margin-top: -150px;
  margin-bottom: 150px;
  max-height: 600px;
  position: relative;
  /* transform: rotateY(180deg); */
}

.car__top {
  max-height: 600px;
  vertical-align: top;
  /* max-height: 600px; */
}

.car__body {
  position: relative;
  transform: translate(130px);
  width: 800px;
  height: 200px;
  background-color: black;
}

.car__roof::before {
  top: 50px;
  left: 100px;
  position: absolute;
  content: "";
  background: linear-gradient(215deg, rgba(0, 7, 17, 0.793) 0%, rgba(176, 179, 228, 1) 100%, rgba(66, 253, 45, 1) 100%);
  border: 5px solid #fff;
  width: 300px;
  height: 200px;
  border-radius: 10% 12% 10% 10% / 10% 10% 10% 10%;
  opacity: 1;
}

.front__glass {
  position: absolute;
  top: 270px;
  left: 165px;
  height: 140px;
  width: 40px;
  background: linear-gradient(215deg, rgba(0, 7, 17, 0.793) 0%, rgba(176, 179, 228, 1) 100%, rgba(66, 253, 45, 1) 100%);
  border: 2px solid #fff;
  border-radius: 90% 12% 0% 100% / 100% 0% 10% 10%;
}

.car__roof::after {
  top: 50px;
  left: 450px;
  position: absolute;
  content: "";
  background: linear-gradient(215deg, rgba(0, 7, 17, 0.793) 0%, rgba(176, 179, 228, 1) 100%, rgba(66, 253, 45, 1) 100%);
  border: 5px solid #fff;
  width: 300px;
  height: 200px;
  border-radius: 10% 12% 10% 10% / 10% 10% 10% 10%;
}

.back__glass {
  position: absolute;
  top: 210px;
  left: 999px;
  height: 140px;
  width: 40px;
  background: linear-gradient(215deg, rgba(0, 7, 17, 0.793) 0%, rgba(176, 179, 228, 1) 100%, rgba(66, 253, 45, 1) 100%);
  border: 2px solid #fff;
  border-radius: 90% 12% 0% 100% / 100% 0% 10% 10%;
  transform: rotate(133deg);
}

.car__roof {
  position: relative;
  transform: translate(130px, 1px);
  height: 211px;
  width: 800px;
  background-color: black;
  border-radius: 20% 72% 0% 100% / 100% 0% 100% 0%;
}

.car__hood {
  position: relative;
  transform: translate(-90px, 410px);
  width: 300px;
  height: 200px;
  background-color: black;
  border-radius: 60% 0% 0% 44% / 100% 64% 10% 10%;
}

.car__hood::before {
  position: absolute;

  top: 80px;
  left: 30px;


  content: "";
  width: 80px;
  height: 80px;
  background-color: gray;
  border: 3px solid rgb(65, 62, 62);
  border-radius: 100% 0% 100% 0% / 100% 0% 100% 1%;

  box-shadow: 10px 5px 25px #fff;

  transform: rotate(150deg);
}

.car__back {
  position: relative;
  transform: translate(900px, -410px);
  height: 400px;
  width: 200px;
  background-color: black;
  border-radius: 0% 100% 100% 0% / 0% 71% 29% 100%;
  overflow: hidden;
}

.car__back::before {
  position: absolute;

  top: 160px;
  left: 100px;


  content: "";
  width: 100px;
  height: 100px;
  background-color: rgb(216, 12, 12);
  border: 3px solid rgb(65, 62, 62);
  border-radius: 45% 11% 19% 10% / 8% 100% 27% 53%;

  box-shadow: 10px 5px 45px red;
}


.car__wheels {
  position: absolute;
  top: 500px;
  left: 0;
  /* transform: translate(0px, -500px); */
  padding-left: 80px;
  max-width: 1110px;
}

.car_wheel-01 {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 50%;
  border: 32px solid gray;
  border-style: dashed;
  transition: transform 1.4s ease 0s;

  margin-right: 500px;
}

.car_wheel-01::before {
  position: absolute;
  content: "";
  top: -52px;
  left: -52px;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  border: 21px solid #353535;
  /* opacity: 0.5; */
}

.car_wheel-02::before {
  position: absolute;
  content: "";
  top: -52px;
  left: -52px;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  border: 21px solid #353535;
  /* opacity: 0.5; */
}

.center-dot {
  position: absolute;
  top: 38px;
  left: 38px;
  content: "";
  width: 60px;
  height: 60px;
  background: gray;
  border-radius: 50%;
  transition: transform 1.4s ease 0s;

  border: 11px solid blue;
  border-style: dotted;
}

.car_wheel-01::after {
  position: absolute;
  top: 28px;
  left: 28px;
  content: "";
  width: 80px;
  height: 80px;
  /* background: gray; */
  border-radius: 50%;
  transition: transform 1.4s ease 0s;

  border: 11px solid gray;
  /* border-style: dotted; */
}

.car_wheel-02::after {
  position: absolute;
  top: 28px;
  left: 28px;
  content: "";
  width: 80px;
  height: 80px;
  /* background: gray; */
  border-radius: 50%;
  transition: transform 1.4s ease 0s;

  border: 11px solid gray;
  /* border-style: dotted; */
}

.center-dot:hover {
  transform: rotate(360deg);

}

.car_wheel-01:hover {
  transform: rotate(360deg);
}

.car_wheel-02 {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 50%;
  border: 32px solid gray;
  border-style: dashed;
  transition: transform 1.4s ease 0s;

}

.car_wheel-02:hover {
  transform: rotate(360deg);
}