@import url("reset.css");

body {
  font-family: 'Inter', sans-serif;
  background-color: bisque;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.header {
  margin-bottom: 50px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.images__list {
  margin-bottom: 40px;
}

.images__list-item {
  display: inline-block;
}

.images__list-item img {
  display: inline-block;
  max-width: 600px;
}

.images__list-item img:not(:last-child) {
  margin-right: 30px;
}

.images__list-item p {
  display: inline-block;
}

.images__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.icons__list {
  margin-bottom: 40px;
}

.icons__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.icons__list-item p {
  display: inline-block;
}

.icons__list-item img {
  display: inline-block;
  max-width: 200px;
}

.icons__list-item img:not(:last-child) {
  margin-right: 30px;
}

.icon-1::before {
  content: "";
  background-image: url(../images/facebook-icon.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 20px;
}

.icon-2::before {
  content: "";
  background-image: url(../images/instagram-icon.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 20px;
}

.icon-3::before {
  content: "";
  background-image: url(../images/geo.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 20px;
}

.icon-4::before {
  content: "";
  background-image: url(../images/mail.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 20px;
}

.icon-5::before {
  content: "";
  background-image: url(../images/phone.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 20px;
}

.icon-6::before {
  content: "";
  background-image: url(../images/vector.svg);
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 20px;
}