@import url("reset.css");

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #1A1A1A;
}

.wrapper {
  overflow: clip;
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

.wrapper>main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-bottom: 50px;
}

.main {
  margin-bottom: 50px;
}

.button {
  display: flex;
  width: 376px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 43px;
  background: #00B207;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  /* 19.2px */
  transition: background 0.3s, box-shadow 0.4s;
}

.button:hover {
  background: #01c407;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.form__label {
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.form__label:not(:last-child) {
  margin-bottom: 8px;
}

.form__label>span {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.form--input {
  font-size: 16px;
  font-weight: 400;
  height: 49px;
  padding: 0px 16px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  transition: border 0.5s, box-shadow 0.6s;
  outline: none;
  color: #1A1A1A;
}

.form--input::placeholder,
.form--input:is(select) {
  color: #999;
  line-height: 130%;
}

.form--input::placeholder {
  opacity: 1;
  transition: opacity 0.3s;
}

.form--input:focus::placeholder {
  opacity: 0;
}

.form-billing__label:has(.form--input:not(:placeholder-shown):valid) select {
  color: #1A1A1A;
}

.form--input:focus,
.form--input:hover {
  border: 1px solid #2C742F;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

select option {
  color: #1A1A1A;
}

.billing__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.billing__title:not(:last-child) {
  margin-bottom: 20px;
}

.form-billing {
  display: flex;
  gap: 24px;
}

.form-billing__left {
  flex: 0 1 872px;
}


.form-billing__top:not(:last-child) {
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 32px;
}

.form-billing__names {
  display: flex;
  column-gap: 16px;
}

.form-billing__names:not(:last-child) {
  margin-bottom: 16px;
}

.form-billing__label {
  width: 100%;
}

.form-contact__label {
  width: 100%;
}

.form-address__label {
  width: 100%;
}


.form-billing__address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-address__bottom {
  display: flex;
  gap: 16px;
}

select {
  width: 100%;
}

.form-billing__address:not(:last-child) {
  margin-bottom: 16px;
}

.form-billing__contact {
  display: flex;
  gap: 16px;
}

.form-billing__contact:not(:last-child) {
  margin-bottom: 20px;
}

.form-billing__shipment {
  margin-bottom: 32px;
  max-width: 250px;
}


.form--checkbox {
  cursor: pointer;
  outline: none;
}

.form--checkbox:hover {
  border: 1px solid #2C742F;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.form--checkbox:checked {
  transition: 0.5s;
}

input[type="checkbox"] {
  accent-color: #2C742F;
}

input[type="checkbox" i] {
  border: none;
}

.billing-label__shipment {
  display: flex;
  gap: 16px;
}


.billing-input__shipment {
  flex: 0 0 20px;
}

.form-additional__textarea {
  width: 872px;
  height: 100px;
  padding: 14px 16px;
  border-radius: 6px;
  outline: none;
  border: 1px solid #E6E6E6;
  background: #fff;
  transition: border 0.5s, box-shadow 0.6s;
}

.form-additional__textarea::placeholder {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

.form-additional__textarea:hover,
.form-additional__textarea:focus {
  border: 1px solid #2C742F;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.order {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  padding: 24px;
}

.order__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.order__title:not(:last-child) {
  margin-bottom: 12px;
}

.order__list {
  display: flex;
  flex-direction: column;
}

.order__list:not(:last-child) {
  margin-bottom: 24px;
}

.order__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item__order {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item__descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.item__image {
  width: 60px;
  height: 60px;
}

.order-subtotal {
  display: flex;
  justify-content: space-between;
}

.order-shipping {
  display: flex;
  justify-content: space-between;
}

.order-shipping__price,
.order-subtotal__price,
.order-item__price {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}

.order-total {
  display: flex;
  justify-content: space-between;
}

.order-total__text,
.order-shipping__text,
.order-subtotal__text {
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.order-total__price {
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}

.order-subtotal:not(:last-child),
.order-shipping:not(:last-child),
.order-total:not(:last-child) {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #E6E6E6;
}


.order-payment__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-payment__label {
  display: flex;
  gap: 6px;
}

.order-payment__input {
  flex: 0 0 20px;
  cursor: pointer;
}

input[type="radio"] {
  accent-color: #2C742F;
}

.order-payment__text {
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}